body {
    background-color: pink;
}

h1 {

    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
   }

p {
    color: rgb(0, 0, 185);
    border: 6px solid rgb(0, 0, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    background-color: rgb(116, 14, 211);
    /*The padding propertie defines a padding(space) between the text and the border*/
    padding: 30px;
    /*The margin propertie defines a margin(space) outside the border*/
    margin: 100px;
}


/*The a:link propertie allows the user to change the looks of a regualar unvisted link*/
/*The a:visited propertie allows the user to change the looks of a link that had already been visted*/
/*The a:hover propertie allows the user to change the looks of a link that is being hoverd over*/
/*The a:active propertie allows the user to change the looks of a link that is active(being clicked on)*/

a:visited, a:link {
    color: white;
    text-decoration: none;
    background-color: purple;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
}


a:hover {
    color: white;
    text-decoration: none;
    background-color: blue;
}


a:active {
    color: white;
    text-decoration: none;
    background-color: blue;
}

