/*
To add a border to a table, use the CSS border property.
Remember to define borders for both the table and the table cells.
To let the borders collapse into one border, add the CSS border-collapse property.

Cell padding specifies the space between the cell content and its borders.
If you do not specify a padding, the table cells will be displayed without padding.
To set the padding, use the CSS padding property.

By default, table headings are bold and centered.
To left-align the table headings, use the CSS text-align property.
*/
table.bordertest,
table.bordertest td,
table.bordertest th{
	color: rgb(59, 0, 0); 
	border: 5px solid rgb(255, 146, 164);
	border-collapse: collapse;
    padding: 15px;
	}


table.bordertest th{
    text-align: left;
}

/*
Border spacing specifies the space between the cells.
To set the border spacing for a table, use the CSS border-spacing property.
If the table has collapsed borders, border-spacing has no effect.
*/
table.spacingtest, table.spacingtest th,table.spacingtest td {
    border: 15px solid rgb(182, 81, 98);
    border-spacing: 20px;
    padding: 15px;
    font-family:fantasy;
}

table.spacingtest td{
    color: purple;
}
table.spacingtest th{
    color: red;
}

table.a,
table.a td,
table.a th{
	color: rgb(59, 0, 0); 
	border: 5px solid rgb(255, 146, 164);
	border-collapse: collapse;
    padding: 15px;
	}


table.a caption{
	color: rgb(196, 0, 0); 
	border: 5px solid rgb(255, 146, 164);
	border-collapse: collapse;
    padding: 0px;
}

table.b,
table.b td,
table.b th{
	color: rgb(59, 0, 0); 
	border: 5px solid rgb(168, 45, 199);
	border-collapse: collapse;
    padding: 15px;
	}


table.b caption{
	color: rgb(173, 0, 196); 
	border: 5px solid rgb(168, 45, 199);
	border-collapse: collapse;
    padding: 0px;
}

#t01 {
    width: 100%;
}

#t01, #t01 th, #t01 td {
    border: 3px solid rgb(189, 189, 189);
    border-collapse: collapse;
    padding: 10px;
}

/*The :nth-child(n) selector matches every element that is the nth child,
regardless of type, of its parent.

n can be a number, a keyword, or a formula.*/
#t01 tr:nth-child(even){
background-color: rgb(216, 216, 216);
}

#t01 tr:nth-child(odd){
background-color: rgb(53, 53, 53);
color: white;
}
#t01 th{
    background-color: gray;
}